body * {
    color: #122724;
}

.window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    background: #c06f6f;
    /* width: 48vw; */
   flex-grow: 1; 
    height: 96vh;
    display: flex;
    justify-content:center;
    align-content:center;
    -webkit-box-shadow: 2px 3px 12px 2px #000000; 
box-shadow: 2px 3px 12px 2px #00000;
border-radius: 4px;
}

.col {
    margin: 0 15px;
}

.col_form {
    display:flex;
    flex-direction: column;
/*     justify-content: space-between */
    ;
    margin:auto;
/*     background-color:rgb(191 112 112); */
    width: 70%;
    height:20%;
   
}

.form_header {
    color: #1d1414;
    padding-bottom: 1em;
}

.form_inputs input {
    width:100%;
    font-size:1.2em;
    display:block-inline;
    height:3em;
    border-radius: 4px;
    border: none;
}

.compute_and_results {
    margin-top: 1em;
    /* border: 1px solid; */
    height: 3em;
    display: flex;
    justify-content: space-between;
}

.form_compute_btn {
    height: 100%;
    width: 40%;
    background: #9EE493;
    border:none;
    border-radius: 4px;
    font-size: 1.3em;



}

.computes {
    background-color: #abc8c0;
    height: 100%;
    display: flex;
    align-items:center;
    width: 40%;
    justify-content:center;
    overflow: none;
    
}

.compute_processing {
    animation: ripple 700ms ease-in 1ms infinite alternate;
}


.compute_result.expression {
    width: auto;
    padding: 0 1.3em;
}
@keyframes ripple {
    from {
        opacity: 0;
    }

}

.hide {
    display:none;
}

@media only screen and (max-width: 700px) {
    .window {
        display: flex;
        flex-direction: column;
    }

    .col {
        height: 100vh;
        margin-top: 5px;
    }

}
